.view-a {
  position   : absolute;
  top        : 0;
  bottom     : 0;
  left       : 0;
  right      : 0;

  background : #0f3f45;
  color      : #fff;
}

.view-b {
  position    : absolute;
  top         : 20px;
  bottom      : 20px;
  margin-left : 20px;
  width       : 200px;

  background  : #f37056;
  color       : #fff;
}

.view-c {
  position   : absolute;
  top        : 20px;
  bottom     : 100px;
  right      : 20px;
  left       : 240px;

  background : #f37056;
  color      : #fff;
}

.view-d {

  position: absolute;
  top: 60px;
  bottom: 20px;
  left: 20px;
  right: 20px;

  background: #4b4b22;
  color: #fff;
}

.view-e {
  position   : absolute;
  top        : 60px;
  bottom     : 20px;
  left       : 20px;
  right      : 20px;
  overflow   : auto;

  background : #919a61;
  color      : #fff;
}

.view-f {
  position   : absolute;
  bottom     : 20px;
  left       : 20px;
  right      : 20px;
  top        : 200px;

  background : #4b4b22;
  color      : #fff;
}
